<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="FlumeConfigurationSection" type="DotNetFlumeNG.Client.NLog.Configuration.FlumeConfigurationSection,   
        DotNetFlumeNG.Client.NLog" />
  </configSections>

  <FlumeConfigurationSection>
    <Sources>
      <add Name="source-a" Collector="first-collector" />
      <add Name="source-b" Collector="second-collector" />
      <add Name="source-c" Collector="second-collector" />
    </Sources>
    
    <Collectors>
      <add Name="first-collector" >
        <Nodes>
          <add Host="127.0.0.1" Port="2015" Enabled="true"  EnablePool="true" PoolSize="50"/>
          <add Host="127.0.0.2" Port="2016" Enabled="true"  EnablePool="true" PoolSize="50"/>
        </Nodes>
      </add>

      <add Name="second-collector" >
        <Nodes>
          <add Host="127.0.0.3" Port="2016" Enabled="true"  EnablePool="true" PoolSize="50"/>
        </Nodes>
      </add>
      
    </Collectors>
  </FlumeConfigurationSection>
</configuration>