<?xml version="1.0" encoding="utf-8"?>
<FlumeConfig majorVersion="1" minorVersion="180">
  <Sources>
    <Source Name="app" Collector="raw_format"></Source>
    <Source Name="TestRaw" Collector="TestRaw"></Source>
    <Source Name="filetemplateraw " Collector="Date_Catalog"></Source>
  </Sources>

  <Collectors>
    <Collector Name="raw_format">
      <ThriftNodes>
        <Node Host="10.129.8.125" Port="2014" Enabled="true"  EnablePool="true" PoolSize="50"></Node>
        <Node Host="10.129.8.125" Port="2015" Enabled="true"  EnablePool="true" PoolSize="50"></Node>
        <Node Host="10.129.8.126" Port="2016" Enabled="true"  EnablePool="true" PoolSize="50"></Node>
        <Node Host="10.129.8.126" Port="2017" Enabled="true"  EnablePool="true" PoolSize="50"></Node>
      </ThriftNodes>
    </Collector>
    <Collector Name="TestRaw">
      <ThriftNodes>
        <Node Host="10.129.8.126" Port="2018" Enabled="true"  EnablePool="true" PoolSize="50"></Node>
      </ThriftNodes>
    </Collector>
    <Collector Name="Date_Catalog">
      <ThriftNodes>       
        <Node Host="10.129.8.126" Port="2019" Enabled="true"  EnablePool="true" PoolSize="50"></Node>
      </ThriftNodes>
    </Collector>
  </Collectors>  

</FlumeConfig>